@charset "utf-8";
/* CSS Document */

/* ---- Reset CSS : Start ---- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    overflow-x: hidden;
}

body {
    font-family: 'Pretendard Variable', 'MalgunGothic', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background-color: #141517;
    color: #e5e7eb;
}

/* Ant Design 전역 폰트 적용 */
[class^="ant-"], [class^="ant-"] * {
    font-family: 'Pretendard Variable', 'MalgunGothic', sans-serif !important;
}

#root {
    width: 100%;
    height: 100%;
}

/* ---- Reset CSS : End ---- */

