@charset "utf-8";
/* CSS Document */

/* ---- Layout : Sidebar : Start ---- */

/* Token으로 불가능한 스타일만 */
.ant-layout-sider {
    border-right: 1px solid #3f3f46;
}

.sidebar-container {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.sidebar-menu {
    flex: 1;
    overflow-y: auto;
}

.sidebar-toggle-wrapper {
    border-top: 1px solid #3f3f46;
    padding: 16px 0;
}

.sidebar-toggle-btn {
    font-size: 18px;
}

/* ---- Layout : Sidebar : End ---- */

